# C

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
bin/zdb*


# binary files
bin/zdb
bin/zdb-integrity-check
bin/zdb-index-dump
bin/zdbtests
src/zdb
tools/integrity-check/integrity-check
tools/index-dump/index-dump
tools/index-rebuild/index-rebuild
tools/compaction/compaction
tools/namespace-editor/namespace-editor
tests/zdbtests
utilities/db-sync/db-sync
utilities/db-replicate/db-replicate
utilities/db-mirror/db-mirror
tests/pipeline/pipeline
zdbd/zdb
zdbd/zdbd
